<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Select</title>
    <link rel="stylesheet" href="../public/component/select.css">
</head>
<body>
    <div class="app">
        <h3>这是一个下拉选择框</h3>
        <div id="select" class="select" />
    </div>

    <script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
    <script src="../public/component/select.js"></script>
    <script>
        (function() {
            var selectSync = new Select('select', {
                defaultValueIndex: 1,
                data: [{id: 1, text: '测试文字1'}, {id: 2, text: '测试文字2'}, {id: 3, text: '测试文字3'}, {id: 4, text: '测试文字4'}, {id: 5, text: '测试文字5'}, {id: 6, text: '测试文字6'}, {id: 7, text: '测试文字7'}]
            })
        })()
    </script>
</body>
</html>