<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Select</title>
    <link rel="stylesheet" href="../public/component/select.css">
</head>
<body>
    <div class="app">
        <h3>这是一个下拉选择框</h3>
        <div id="select" class="select" />
    </div>

    <script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
    <script src="../public/component/select.js"></script>
    <script>
        (function() {
            var selectSync = new Select('select', {
                
            })
        })()
    </script>
</body>
</html>